html,body{
	height: 100%;
}
.container{
	min-height: 92%;
}
.main{	
	overflow: auto;
	padding-bottom: 15px;
}
.header{
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	background-color: #610094;	
}
.nb{	
	margin:5px 0px 30px 0px;
	width: 100%;
	font-size: 20px;
	
}
#navleft{
	float: left;
	overflow: hidden;
	word-spacing: 20px;
	width: 47%;
	background-color: #610094;
	padding: 10px;
	text-align: left;	
}
#navleft a{
	text-decoration: none;
	color: white;
	padding: 10px;
}
#navleft a:hover{
	color: #610094;
	background-color: white;
}
#navright{
	float: right;
	overflow: hidden;
	width: 50%;
	background-color: #610094;
	color: white;
	padding: 10px;
	text-align: right;
}
#navright a{
	text-decoration: none;
	color:#610094 ;
	background-color: white;
	border-radius: 10px;
	padding: 7px;
}
.open button{
	font-size: 20px;
	padding: 10px;
	margin: 20px;
}
.open{
	font-size: 25px;
	text-align: center;	
}
.close{
	font-size: 20px;
}
.foot{
	background-image:linear-gradient(to right,#610094,#664EAE);	
	color: white;
	font-size: 20px;
	padding: 15px;
	text-align: center;
	position: relative;
	margin-top: -15px;
	clear: both;
}
#subs{
	font-size: 15px;
	padding: 10px;
	margin: 20px;
}
#inverse4{
	width: 90%;
	text-align: center;
	margin: auto;

}